<section class="products">
	<div class="container">
		<h2 class="products__title">Featured products</h2>
		<p class="products__text">Lorem ipsum odor amet, consectetuer adipiscing elit. Suscipit lectus cursus phasellus ridiculus nostra fames. Sollicitudin mi facilisi congue tellus dictumst eu ligula arcu. Vivamus luctus vel duis tempor curabitur potenti rhoncus. Orci dictum et varius feugiat pulvinar euismod iaculis diam. Lacus inceptos vel fusce interdum molestie luctus cubilia.</p>
		<div class="products__cards">
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection18</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">307.98 UAH</span>
				<span class="products__card-price">132.91 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection17</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">352.36 UAH</span>
				<span class="products__card-price">138.33 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection16</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">791.49 UAH</span>
				<span class="products__card-price">556.71 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection15</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">360.79 UAH</span>
				<span class="products__card-price">163.27 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection14</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">420.58 UAH</span>
				<span class="products__card-price">142.16 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection13</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">217.86 UAH</span>
				<span class="products__card-price">134.97 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection12</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">994.3 UAH</span>
				<span class="products__card-price">685.12 UAH</span>
			</div>
			<div class="products__card">
				<div class="products__card-img">
					<img class="products__card-img-default" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/Group_20299_8cbb1a24-b1de-4511-8346-d0f1a286c279.jpg?v=1727081900" alt="Aluminum Scarf">
					<img class="products__card-img-hover" src="https://cdn.shopify.com/s/files/1/0591/3772/0393/files/AAUvwnj0ICORVuxs41ODOvnhvedArLiSV20df7r8XBjEUQ_s900-c-k-c0x00ffffff-no-rj_b85a31e3-3e3c-4aeb-956d-2384c626ec15.jpg?v=1727081900" alt="Aluminum Scarf">
				</div>
				<h3 class="products__card-title">Amazing Aluminum Scarf Collection11</h3>
				<p class="products__card-desc">Lorem ipsum dolor sit amet</p>
				<span class="products__card-price products__card-price_old">294.74 UAH</span>
				<span class="products__card-price">187.47 UAH</span>
			</div>
		</div>

		<div class="products__question">
			<div class="products__question-info">
				<h2 class="products__question-title">Frequently asked question</h2>
				<p class="products__question-text">Can’t find the answer you’re looking for? Reach out to our <a href="#">customer support</a> team.</p>
			</div>
			<div class="products__question-accordion">
				<div class="accordion" data-type="flush">
					<div class="accordion-item">
						<button class="accordion-item__button">How can I track my order?
							<span></span>
						</button>
						<div class="accordion-item__content">
							<p>Once your order has been shipped, you will receive a tracking number by email. You can use this tracking number to track the progress of your shipment online.</p>
						</div>
					</div>
					<div class="accordion-item">
						<button class="accordion-item__button">What is delivery time of my order?
							<span></span>
						</button>
						<div class="accordion-item__content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt debitis odio accusamus fuga, doloribus aperiam reprehenderit itaque nostrum obcaecati!</p>
						</div>
					</div>
					<div class="accordion-item">
						<button class="accordion-item__button">How can I return my product?
							<span></span>
						</button>
						<div class="accordion-item__content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt debitis odio accusamus fuga, doloribus aperiam reprehenderit itaque nostrum obcaecati!</p>
						</div>
					</div>
					<div class="accordion-item">
						<button class="accordion-item__button">What are the shipping costs my order?
							<span></span>
						</button>
						<div class="accordion-item__content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt debitis odio accusamus fuga, doloribus aperiam reprehenderit itaque nostrum obcaecati!</p>
						</div>
					</div>
					<div class="accordion-item">
						<button class="accordion-item__button">Can I chance or cancel my order after pacing it?
							<span></span>
						</button>
						<div class="accordion-item__content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt debitis odio accusamus fuga, doloribus aperiam reprehenderit itaque nostrum obcaecati!</p>
						</div>
					</div>
					<div class="accordion-item">
						<button class="accordion-item__button">What is delivery time of my order?
							<span></span>
						</button>
						<div class="accordion-item__content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt debitis odio accusamus fuga, doloribus aperiam reprehenderit itaque nostrum obcaecati!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
